
<h2><%= full_name(@patient)%></h2>

<%= link_to "Add a Prescription.", new_prescriptions_path %>

<h2>Prescriptions</h2>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @medications.each do |medication| %>
      <tr>
        <td><%= medication.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<hr>
<h2>Medications</h2>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @medications.each do |medication| %>
      <tr>
        <td><%= medication.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>